<!DOCTYPE html>
<html>
    <% var dir = process.cwd() %> 
    <%- include(dir+'/public/css/authStyle'); %>
    <%- include (dir+'/models/User'); %>
<head>
	<title>Slide Navbar</title>


</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<div>
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="nume" placeholder="Nume" >
					<input type="text" name="prenume" placeholder="Prenume" >
                    <input type="text" name="Firma" placeholder="Firma">
                    <input type="text" name="CNP" placeholder="CNP" >
                    <input type="mail" name="mail" placeholder="mail" >
                    <input type="number" name="phone" placeholder="phone" >
                    <input type="text" name="adresa" placeholder="adresa" >
                    <input type="date" name="Data nastere" placeholder="Data nastere">
					<input type="password" name="pswd" placeholder="Password" >
                    <button id="sign">Sign up</button>
                </div>
               
			</div>

			<div class="login">
				<div>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" placeholder="Email" >
					<input type="password" name="pswd" placeholder="Password" >
					<button id="log">Login</button>
                    <p class="fill"></p>
                </div>
			</div>
	</div>
</body>
</html>