<!DOCTYPE html>
<html lang="ro">
  <% var dir = process.cwd() %> 
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include(dir+'/public/css/landingPage'); %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap" rel="stylesheet">
    <title>Wind Turbine Management</title>
  </head>
  <body>
    <p id="title1">
      Wind
      <span id="title2">Turbine Management</span>
    </p>

    <div id="sidebar">
      <div id="menu">
        <p id="moto">Spin for efficiency</p>
        <button id="auth" onclick="location.href='/pages/register'">Get Started</button>
        <button id="auth" onclick="location.href='/pages/login'">Login</button>
      </div>
    </div>
    <%- include (dir+'/public/scripts/protectedRouteLoginScript'); %>
  </body>
</html>
