<!DOCTYPE html>
<html lang="ro">
  <% var dir = process.cwd() %> <link rel="icon"
  href=https://webprojectrdv.s3.amazonaws.com/favicon.png>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include(dir+'/public/css/landingPage'); %>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Wind Turbine Management</title>
  </head>
  <body>
    <div id="sidebar">
      <div id="menu">
        <p id="title1">
          Wind
          <span id="title2">Turbine Management</span>
        </p>
        <p id="moto">Spin for efficiency</p>
        <button id="auth" onclick="location.href='/pages/doc'">
          Get Started
        </button>
        <button id="auth" onclick="location.href='/pages/login'">Login</button>
      </div>
    </div>
    <%- include (dir+'/public/scripts/protectedRouteLoginScript'); %>
  </body>
</html>
