<!DOCTYPE html>
<html>
  <% var dir = process.cwd() %>
  <!-- <%- include(dir+'/public/css/authStyle'); %> -->

  <head>
    <title>Slide Navbar</title>
  </head>
  <body>
    <div class="main">
      <input type="checkbox" id="chk" aria-hidden="true" />

      <form class="login">
        <div>
          <label aria-hidden="true">Login</label>
          <input type="email" id="email" name="email" placeholder="Email" />
          <input
            type="password"
            id="password"
            name="pass"
            placeholder="Password"
          />
          <button id="log">Login</button>
          <p id="errormessage"></p>
        </div>
      </form>
    </div>
    <%- include (dir+'/public/scripts/loginScript'); %>
  </body>
</html>
