<!DOCTYPE html>
<html>
  <% var dir = process.cwd() %> <%- include(dir+'/public/css/registerStyle'); %>

  <head>
    <title>Register</title>
  </head>
  <body>
    <form class="signup">
      <label for="chk" aria-hidden="true">Sign up</label>
      <input type="text" id="nume" name="nume" placeholder="Nume" />
      <input type="text" id="prenume" name="prenume" placeholder="Prenume" />
      <input type="text" id="firma" name="Firma" placeholder="Firma" />
      <input type="text" id="cnp" name="CNP" placeholder="CNP" />
      <input type="mail" id="registermail" name="mail" placeholder="Mail" />
      <input type="number" id="phone" name="phone" placeholder="Phone number" />
      <input type="text" id="adresa" name="adresa" placeholder="Address" />
      <input
        type="password"
        id="registerpass"
        name="pswd"
        placeholder="Password"
      />
      <input id="sign" type="submit" value="Sign Up" />
      <p id="errormessage"></p>
    </form>

    <%- include (dir+'/public/scripts/registerScript'); %>
  </body>
</html>
