<!DOCTYPE html>
<html>
  <% var dir = process.cwd() %>
  <!-- <%- include(dir+'/public/css/authStyle'); %> -->

  <head>
    <title>Slide Navbar</title>
  </head>
  <body>
    <div class="main">
      <input type="checkbox" id="chk" aria-hidden="true" />

      <form class="signup">
        <div>
          <label for="chk" aria-hidden="true">Sign up</label>
          <input type="text" id="nume" name="nume" placeholder="Nume" />
          <input
            type="text"
            id="prenume"
            name="prenume"
            placeholder="Prenume"
          />
          <input type="text" id="firma" name="Firma" placeholder="Firma" />
          <input type="text" id="cnp" name="CNP" placeholder="CNP" />
          <input type="mail" id="registermail" name="mail" placeholder="mail" />
          <input type="number" id="phone" name="phone" placeholder="phone" />
          <input type="text" id="adresa" name="adresa" placeholder="adresa" />
          <input
            type="password"
            id="registerpass"
            name="pswd"
            placeholder="Password"
          />
          <button id="sign">Sign up</button>
          <p id="errormessage"></p>
        </div>
      </form>

     
    </div>
    <%- include (dir+'/public/scripts/registerScript'); %>
    <%- include (dir+'/public/scripts/protectedRouteLoginScript'); %>
  </body>
</html>
