<!DOCTYPE html>
<html>
  <% var dir = process.cwd() %> <%- include(dir+'/public/css/loginStyle'); %>
  <link rel="icon" href=https://webprojectrdv.s3.amazonaws.com/favicon.png>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap"
    rel="stylesheet"
  />
  <head>
    <title>Log in</title>
  </head>

  <body>
    <p id="title1">
      Wind
      <span id="title2">Turbine Management</span>
    </p>
    <form class="login">
      <label aria-hidden="true">Reset Password</label>
      <input type="email" id="email" name="email" placeholder="Email" />
      <input type="password" id="password" name="pass" placeholder="Password" />
      <input
        type="password"
        id="confirmpassword"
        name="confpass"
        placeholder="Confirm Password"
      />
      <input id="log" type="submit" value="Done" />
      <p id="errormessage"></p>
    </form>

    <%- include (dir+'/public/scripts/loginScript'); %> <%- include
    (dir+'/public/scripts/protectedRouteLoginScript'); %>
  </body>
</html>
