<!DOCTYPE html>
<html>
  <% var dir = process.cwd() %> <link rel="icon"
  href=https://webprojectrdv.s3.amazonaws.com/favicon.png>

  <head>
    <title>Not Found</title>
  </head>
  <body>
    <div>
      <h1>Not Authorized</h1>
    </div>
  </body>
</html>
