<div class="alert">
    <%= alert.user.firstName %> <%= alert.user.lastName %>, there seems to be a
    problem with your turbine <%=alert.turbine.name %>
  <div>
    <button>Check it out</button>
  </div>
</div>
