<div class="filters">
    <div class="filter">
      <p class="filtersSearch" style="font-size: 35px; margin-bottom: 10px">
        Filtre
      </p>
      <input class="searchbar" type="text" placeholder="Search..."/>
    </div>

    <div class="filter">
      <p class="filtersText">Location</p>
      <select id="filter-judet" class="filterBox">
        <option>Neamt</option>
        <option>Bacau</option>
        <option>Iasi</option>
        <option>Galati</option>
      </select>
    </div>

    <div class="filter">
      <p class="filtersText">Condition</p>
      <select id="filter-stare" class="filterBox">
        <option>Running</option>
        <option>Stopped</option>
        <option>Maintenance</option>
      </select>
    </div>

    <div class="filter">
      <p class="filtersText">Company</p>
      <select id="filter-firma" class="filterBox">
        <option>Rares</option>
        <option>Vlad</option>
        <option>Daniel</option>
      </select>
    </div>

    <div class="filter">
      <p class="filtersText">Construction Year</p>
      <div class="filterAni">
        <p>From</p>
        <input type="text" placeholder="Start year" class="an" />
        <p>To</p>
        <input type="text" placeholder="End year" class="an" />
      </div>
    </div>
</div>
