<div class="notification">
    <%= notification.buyer.firstName %> <%= notification.buyer.lastName %> would
    like to purchase turbine <%=notification.turbine.name %>
  <div>
    <button id="acceptButton">Accept</button>
    <button id="declineButton">Decline</button>
  </div>
</div>
