<div class="card">
  <div class="cardInfo">
    <div class="panel">
      <div><%= turbine.name %></div>
      <div>Construction date: <%= turbine.constructionYear %></div>
      <div>Suitability: <%= turbine.suitability %></div>
      <button
        class="dButton"
        onclick='location.href="/pages/turbineDetails/<%= turbine._id %>"'
      >
        Details
      </button>
    </div>
  </div>

  <div class="imgs">
    <div>
      <img src=https://webprojectrdv.s3.amazonaws.com/images/mockImage.jpg
      alt="Image placeholder" />
    </div>
    <div>
      <img src=https://webprojectrdv.s3.amazonaws.com/images/mockGraph.jpg
      alt="Graph placeholder" />
    </div>
  </div>
</div>
