<li>
    <ul class="cardInfo">
      <li>Rdv1</li>
      <li>2008</li>
      <li>100kvh</li>
      <li class="dButton"  onclick='location.href="turbineDetails.html"'>Detalii</li>
    </ul>
    <ul class="imgs">
      <li>
        <img src="../images/mockImage.jpg" alt="Image placeholder" />
      </li>
      <li>
        <img src="../images/mockGraph.jpg" alt="Graph placeholder" />
      </li>
    </ul>
  </li>
  <li>