<li>
    <ul class="cardInfo">
      <li>Name:<%= turbine.name %></li>
      <li>Year: <%= turbine.constructionYear %></li>
      <li>Suitability: <%= turbine.suitability %></li>
      <li class="dButton"  onclick='location.href="turbineDetails.html"'>Detalii</li>
    </ul>
    <ul class="imgs">
      <li>
        <img src=https://webprojectrdv.s3.amazonaws.com/images/mockImage.jpg alt="Image placeholder" />
      </li>
      <li>
        <img src=https://webprojectrdv.s3.amazonaws.com/images/mockGraph.jpg alt="Graph placeholder" />
      </li>
    </ul>
  </li>
  