
<div class="turbine">
  <div class="header">
    <img src="../../public/images/menu.png" alt="spinner placeholder" />
    <p><%= turbine.name %></p>
    <p style="visibility: hidden">ab</p>
  </div>
  <div class="content">
    <p>Latitude: <%= turbine.latitude %></p>
    <p>Longitude: <%= turbine.longitude %></p>
    <p>Terrain: <%= turbine.terrain %></p>
  </div>
</div>