<div class="card">
  <div class="details">
    <div class="attributes">
      <div class="attribute"><span id="name"></span></div>
      <div class="attribute"><span id="company"></span></div>
      <div class="attribute">Created at<span id="date"></span></div>
      <div class="attribute">Contact <span id="email"></span></div>
      <div class="attribute">Produced <span id="energy"></span></div>
    </div>
    <div class="image"><img src=https://webprojectrdv.s3.amazonaws.com/images/bgimg.jpg alt="detail image" /></div>
  </div>

  <div class="buttons">
    <button></button>
    <button></button>
    <button></button>
  </div>
</div>
